<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.presentationTMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.po.presentationT" >
    <id column="pre_id" property="preId" jdbcType="BIGINT" />
    <result column="pre_name" property="preName" jdbcType="VARCHAR" />
    <result column="pre_create_time" property="preCreateTime" jdbcType="DATE" />
    <result column="em_id" property="emId" jdbcType="INTEGER" />
    <result column="coincidence_degree" property="coincidenceDegree" jdbcType="VARCHAR" />
    <result column="pre_comment" property="preComment" jdbcType="VARCHAR" />
    <result column="pre_del_status" property="preDelStatus" jdbcType="INTEGER" />
    <result column="DATE2" property="date2" jdbcType="DATE" />
    <result column="DATE1" property="date1" jdbcType="DATE" />
    <result column="BZ3" property="bz3" jdbcType="VARCHAR" />
    <result column="BZ2" property="bz2" jdbcType="VARCHAR" />
    <result column="BZ1" property="bz1" jdbcType="VARCHAR" />
    <result column="pre_factor" property="preFactor" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pre_id, pre_name, pre_create_time, em_id, coincidence_degree, pre_comment, pre_del_status, 
    DATE2, DATE1, BZ3, BZ2, BZ1, pre_factor
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.po.presentationTExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from presentation_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from presentation_t
    where pre_id = #{preId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from presentation_t
    where pre_id = #{preId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.po.presentationTExample" >
    delete from presentation_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.po.presentationT" >
    insert into presentation_t (pre_id, pre_name, pre_create_time, 
      em_id, coincidence_degree, pre_comment, 
      pre_del_status, DATE2, DATE1, 
      BZ3, BZ2, BZ1, pre_factor
      )
    values (#{preId,jdbcType=BIGINT}, #{preName,jdbcType=VARCHAR}, #{preCreateTime,jdbcType=DATE}, 
      #{emId,jdbcType=INTEGER}, #{coincidenceDegree,jdbcType=VARCHAR}, #{preComment,jdbcType=VARCHAR}, 
      #{preDelStatus,jdbcType=INTEGER}, #{date2,jdbcType=DATE}, #{date1,jdbcType=DATE}, 
      #{bz3,jdbcType=VARCHAR}, #{bz2,jdbcType=VARCHAR}, #{bz1,jdbcType=VARCHAR}, #{preFactor,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.po.presentationT" >
    insert into presentation_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="preId != null" >
        pre_id,
      </if>
      <if test="preName != null" >
        pre_name,
      </if>
      <if test="preCreateTime != null" >
        pre_create_time,
      </if>
      <if test="emId != null" >
        em_id,
      </if>
      <if test="coincidenceDegree != null" >
        coincidence_degree,
      </if>
      <if test="preComment != null" >
        pre_comment,
      </if>
      <if test="preDelStatus != null" >
        pre_del_status,
      </if>
      <if test="date2 != null" >
        DATE2,
      </if>
      <if test="date1 != null" >
        DATE1,
      </if>
      <if test="bz3 != null" >
        BZ3,
      </if>
      <if test="bz2 != null" >
        BZ2,
      </if>
      <if test="bz1 != null" >
        BZ1,
      </if>
      <if test="preFactor != null" >
        pre_factor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="preId != null" >
        #{preId,jdbcType=BIGINT},
      </if>
      <if test="preName != null" >
        #{preName,jdbcType=VARCHAR},
      </if>
      <if test="preCreateTime != null" >
        #{preCreateTime,jdbcType=DATE},
      </if>
      <if test="emId != null" >
        #{emId,jdbcType=INTEGER},
      </if>
      <if test="coincidenceDegree != null" >
        #{coincidenceDegree,jdbcType=VARCHAR},
      </if>
      <if test="preComment != null" >
        #{preComment,jdbcType=VARCHAR},
      </if>
      <if test="preDelStatus != null" >
        #{preDelStatus,jdbcType=INTEGER},
      </if>
      <if test="date2 != null" >
        #{date2,jdbcType=DATE},
      </if>
      <if test="date1 != null" >
        #{date1,jdbcType=DATE},
      </if>
      <if test="bz3 != null" >
        #{bz3,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null" >
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="preFactor != null" >
        #{preFactor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.po.presentationTExample" resultType="java.lang.Integer" >
    select count(*) from presentation_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update presentation_t
    <set >
      <if test="record.preId != null" >
        pre_id = #{record.preId,jdbcType=BIGINT},
      </if>
      <if test="record.preName != null" >
        pre_name = #{record.preName,jdbcType=VARCHAR},
      </if>
      <if test="record.preCreateTime != null" >
        pre_create_time = #{record.preCreateTime,jdbcType=DATE},
      </if>
      <if test="record.emId != null" >
        em_id = #{record.emId,jdbcType=INTEGER},
      </if>
      <if test="record.coincidenceDegree != null" >
        coincidence_degree = #{record.coincidenceDegree,jdbcType=VARCHAR},
      </if>
      <if test="record.preComment != null" >
        pre_comment = #{record.preComment,jdbcType=VARCHAR},
      </if>
      <if test="record.preDelStatus != null" >
        pre_del_status = #{record.preDelStatus,jdbcType=INTEGER},
      </if>
      <if test="record.date2 != null" >
        DATE2 = #{record.date2,jdbcType=DATE},
      </if>
      <if test="record.date1 != null" >
        DATE1 = #{record.date1,jdbcType=DATE},
      </if>
      <if test="record.bz3 != null" >
        BZ3 = #{record.bz3,jdbcType=VARCHAR},
      </if>
      <if test="record.bz2 != null" >
        BZ2 = #{record.bz2,jdbcType=VARCHAR},
      </if>
      <if test="record.bz1 != null" >
        BZ1 = #{record.bz1,jdbcType=VARCHAR},
      </if>
      <if test="record.preFactor != null" >
        pre_factor = #{record.preFactor,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update presentation_t
    set pre_id = #{record.preId,jdbcType=BIGINT},
      pre_name = #{record.preName,jdbcType=VARCHAR},
      pre_create_time = #{record.preCreateTime,jdbcType=DATE},
      em_id = #{record.emId,jdbcType=INTEGER},
      coincidence_degree = #{record.coincidenceDegree,jdbcType=VARCHAR},
      pre_comment = #{record.preComment,jdbcType=VARCHAR},
      pre_del_status = #{record.preDelStatus,jdbcType=INTEGER},
      DATE2 = #{record.date2,jdbcType=DATE},
      DATE1 = #{record.date1,jdbcType=DATE},
      BZ3 = #{record.bz3,jdbcType=VARCHAR},
      BZ2 = #{record.bz2,jdbcType=VARCHAR},
      BZ1 = #{record.bz1,jdbcType=VARCHAR},
      pre_factor = #{record.preFactor,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.po.presentationT" >
    update presentation_t
    <set >
      <if test="preName != null" >
        pre_name = #{preName,jdbcType=VARCHAR},
      </if>
      <if test="preCreateTime != null" >
        pre_create_time = #{preCreateTime,jdbcType=DATE},
      </if>
      <if test="emId != null" >
        em_id = #{emId,jdbcType=INTEGER},
      </if>
      <if test="coincidenceDegree != null" >
        coincidence_degree = #{coincidenceDegree,jdbcType=VARCHAR},
      </if>
      <if test="preComment != null" >
        pre_comment = #{preComment,jdbcType=VARCHAR},
      </if>
      <if test="preDelStatus != null" >
        pre_del_status = #{preDelStatus,jdbcType=INTEGER},
      </if>
      <if test="date2 != null" >
        DATE2 = #{date2,jdbcType=DATE},
      </if>
      <if test="date1 != null" >
        DATE1 = #{date1,jdbcType=DATE},
      </if>
      <if test="bz3 != null" >
        BZ3 = #{bz3,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        BZ2 = #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null" >
        BZ1 = #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="preFactor != null" >
        pre_factor = #{preFactor,jdbcType=VARCHAR},
      </if>
    </set>
    where pre_id = #{preId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.po.presentationT" >
    update presentation_t
    set pre_name = #{preName,jdbcType=VARCHAR},
      pre_create_time = #{preCreateTime,jdbcType=DATE},
      em_id = #{emId,jdbcType=INTEGER},
      coincidence_degree = #{coincidenceDegree,jdbcType=VARCHAR},
      pre_comment = #{preComment,jdbcType=VARCHAR},
      pre_del_status = #{preDelStatus,jdbcType=INTEGER},
      DATE2 = #{date2,jdbcType=DATE},
      DATE1 = #{date1,jdbcType=DATE},
      BZ3 = #{bz3,jdbcType=VARCHAR},
      BZ2 = #{bz2,jdbcType=VARCHAR},
      BZ1 = #{bz1,jdbcType=VARCHAR},
      pre_factor = #{preFactor,jdbcType=VARCHAR}
    where pre_id = #{preId,jdbcType=BIGINT}
  </update>
</mapper>