<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.t_base_reportMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.po.t_base_report" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="line_name" property="lineName" jdbcType="CHAR" />
    <result column="line_id" property="lineId" jdbcType="CHAR" />
    <result column="tower_name" property="towerName" jdbcType="CHAR" />
    <result column="tower_id" property="towerId" jdbcType="CHAR" />
    <result column="maintainer" property="maintainer" jdbcType="CHAR" />
    <result column="parentregion" property="parentregion" jdbcType="CHAR" />
    <result column="line_length" property="lineLength" jdbcType="CHAR" />
    <result column="datetime" property="datetime" jdbcType="DATE" />
    <result column="datetime_month" property="datetimeMonth" jdbcType="DATE" />
    <result column="valtage" property="valtage" jdbcType="CHAR" />
    <result column="terrain" property="terrain" jdbcType="CHAR" />
    <result column="stationmap_1" property="stationmap1" jdbcType="REAL" />
    <result column="stationmap_2" property="stationmap2" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, line_name, line_id, tower_name, tower_id, maintainer, parentregion, line_length, 
    datetime, datetime_month, valtage, terrain, stationmap_1, stationmap_2, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.po.t_base_reportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_base_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_base_report
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_base_report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.po.t_base_reportExample" >
    delete from t_base_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.po.t_base_report" >
    insert into t_base_report (id, line_name, line_id, 
      tower_name, tower_id, maintainer, 
      parentregion, line_length, datetime, 
      datetime_month, valtage, terrain, 
      stationmap_1, stationmap_2, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{lineName,jdbcType=CHAR}, #{lineId,jdbcType=CHAR}, 
      #{towerName,jdbcType=CHAR}, #{towerId,jdbcType=CHAR}, #{maintainer,jdbcType=CHAR}, 
      #{parentregion,jdbcType=CHAR}, #{lineLength,jdbcType=CHAR}, #{datetime,jdbcType=DATE}, 
      #{datetimeMonth,jdbcType=DATE}, #{valtage,jdbcType=CHAR}, #{terrain,jdbcType=CHAR}, 
      #{stationmap1,jdbcType=REAL}, #{stationmap2,jdbcType=REAL}, #{createTime,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.po.t_base_report" >
    insert into t_base_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lineName != null" >
        line_name,
      </if>
      <if test="lineId != null" >
        line_id,
      </if>
      <if test="towerName != null" >
        tower_name,
      </if>
      <if test="towerId != null" >
        tower_id,
      </if>
      <if test="maintainer != null" >
        maintainer,
      </if>
      <if test="parentregion != null" >
        parentregion,
      </if>
      <if test="lineLength != null" >
        line_length,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="datetimeMonth != null" >
        datetime_month,
      </if>
      <if test="valtage != null" >
        valtage,
      </if>
      <if test="terrain != null" >
        terrain,
      </if>
      <if test="stationmap1 != null" >
        stationmap_1,
      </if>
      <if test="stationmap2 != null" >
        stationmap_2,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lineName != null" >
        #{lineName,jdbcType=CHAR},
      </if>
      <if test="lineId != null" >
        #{lineId,jdbcType=CHAR},
      </if>
      <if test="towerName != null" >
        #{towerName,jdbcType=CHAR},
      </if>
      <if test="towerId != null" >
        #{towerId,jdbcType=CHAR},
      </if>
      <if test="maintainer != null" >
        #{maintainer,jdbcType=CHAR},
      </if>
      <if test="parentregion != null" >
        #{parentregion,jdbcType=CHAR},
      </if>
      <if test="lineLength != null" >
        #{lineLength,jdbcType=CHAR},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=DATE},
      </if>
      <if test="datetimeMonth != null" >
        #{datetimeMonth,jdbcType=DATE},
      </if>
      <if test="valtage != null" >
        #{valtage,jdbcType=CHAR},
      </if>
      <if test="terrain != null" >
        #{terrain,jdbcType=CHAR},
      </if>
      <if test="stationmap1 != null" >
        #{stationmap1,jdbcType=REAL},
      </if>
      <if test="stationmap2 != null" >
        #{stationmap2,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.po.t_base_reportExample" resultType="java.lang.Integer" >
    select count(*) from t_base_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_base_report
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lineName != null" >
        line_name = #{record.lineName,jdbcType=CHAR},
      </if>
      <if test="record.lineId != null" >
        line_id = #{record.lineId,jdbcType=CHAR},
      </if>
      <if test="record.towerName != null" >
        tower_name = #{record.towerName,jdbcType=CHAR},
      </if>
      <if test="record.towerId != null" >
        tower_id = #{record.towerId,jdbcType=CHAR},
      </if>
      <if test="record.maintainer != null" >
        maintainer = #{record.maintainer,jdbcType=CHAR},
      </if>
      <if test="record.parentregion != null" >
        parentregion = #{record.parentregion,jdbcType=CHAR},
      </if>
      <if test="record.lineLength != null" >
        line_length = #{record.lineLength,jdbcType=CHAR},
      </if>
      <if test="record.datetime != null" >
        datetime = #{record.datetime,jdbcType=DATE},
      </if>
      <if test="record.datetimeMonth != null" >
        datetime_month = #{record.datetimeMonth,jdbcType=DATE},
      </if>
      <if test="record.valtage != null" >
        valtage = #{record.valtage,jdbcType=CHAR},
      </if>
      <if test="record.terrain != null" >
        terrain = #{record.terrain,jdbcType=CHAR},
      </if>
      <if test="record.stationmap1 != null" >
        stationmap_1 = #{record.stationmap1,jdbcType=REAL},
      </if>
      <if test="record.stationmap2 != null" >
        stationmap_2 = #{record.stationmap2,jdbcType=REAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_base_report
    set id = #{record.id,jdbcType=INTEGER},
      line_name = #{record.lineName,jdbcType=CHAR},
      line_id = #{record.lineId,jdbcType=CHAR},
      tower_name = #{record.towerName,jdbcType=CHAR},
      tower_id = #{record.towerId,jdbcType=CHAR},
      maintainer = #{record.maintainer,jdbcType=CHAR},
      parentregion = #{record.parentregion,jdbcType=CHAR},
      line_length = #{record.lineLength,jdbcType=CHAR},
      datetime = #{record.datetime,jdbcType=DATE},
      datetime_month = #{record.datetimeMonth,jdbcType=DATE},
      valtage = #{record.valtage,jdbcType=CHAR},
      terrain = #{record.terrain,jdbcType=CHAR},
      stationmap_1 = #{record.stationmap1,jdbcType=REAL},
      stationmap_2 = #{record.stationmap2,jdbcType=REAL},
      create_time = #{record.createTime,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.po.t_base_report" >
    update t_base_report
    <set >
      <if test="lineName != null" >
        line_name = #{lineName,jdbcType=CHAR},
      </if>
      <if test="lineId != null" >
        line_id = #{lineId,jdbcType=CHAR},
      </if>
      <if test="towerName != null" >
        tower_name = #{towerName,jdbcType=CHAR},
      </if>
      <if test="towerId != null" >
        tower_id = #{towerId,jdbcType=CHAR},
      </if>
      <if test="maintainer != null" >
        maintainer = #{maintainer,jdbcType=CHAR},
      </if>
      <if test="parentregion != null" >
        parentregion = #{parentregion,jdbcType=CHAR},
      </if>
      <if test="lineLength != null" >
        line_length = #{lineLength,jdbcType=CHAR},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=DATE},
      </if>
      <if test="datetimeMonth != null" >
        datetime_month = #{datetimeMonth,jdbcType=DATE},
      </if>
      <if test="valtage != null" >
        valtage = #{valtage,jdbcType=CHAR},
      </if>
      <if test="terrain != null" >
        terrain = #{terrain,jdbcType=CHAR},
      </if>
      <if test="stationmap1 != null" >
        stationmap_1 = #{stationmap1,jdbcType=REAL},
      </if>
      <if test="stationmap2 != null" >
        stationmap_2 = #{stationmap2,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.po.t_base_report" >
    update t_base_report
    set line_name = #{lineName,jdbcType=CHAR},
      line_id = #{lineId,jdbcType=CHAR},
      tower_name = #{towerName,jdbcType=CHAR},
      tower_id = #{towerId,jdbcType=CHAR},
      maintainer = #{maintainer,jdbcType=CHAR},
      parentregion = #{parentregion,jdbcType=CHAR},
      line_length = #{lineLength,jdbcType=CHAR},
      datetime = #{datetime,jdbcType=DATE},
      datetime_month = #{datetimeMonth,jdbcType=DATE},
      valtage = #{valtage,jdbcType=CHAR},
      terrain = #{terrain,jdbcType=CHAR},
      stationmap_1 = #{stationmap1,jdbcType=REAL},
      stationmap_2 = #{stationmap2,jdbcType=REAL},
      create_time = #{createTime,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>