<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.t_base_reportMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.po.t_base_report" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="line_name" property="lineName" jdbcType="CHAR" />
    <result column="line_id" property="lineId" jdbcType="CHAR" />
    <result column="tower_name" property="towerName" jdbcType="CHAR" />
    <result column="tower_id" property="towerId" jdbcType="CHAR" />
    <result column="maintainer" property="maintainer" jdbcType="CHAR" />
    <result column="parentregion" property="parentregion" jdbcType="CHAR" />
    <result column="line_length" property="lineLength" jdbcType="CHAR" />
    <result column="datetime" property="datetime" jdbcType="DATE" />
    <result column="datetime_month" property="datetimeMonth" jdbcType="DATE" />
    <result column="valtage" property="valtage" jdbcType="CHAR" />
    <result column="terrain" property="terrain" jdbcType="CHAR" />
    <result column="stationmap_1" property="stationmap1" jdbcType="REAL" />
    <result column="stationmap_2" property="stationmap2" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, line_name, line_id, tower_name, tower_id, maintainer, parentregion, line_length, 
    datetime, datetime_month, valtage, terrain, stationmap_1, stationmap_2, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_base_report
    where id = #{id,jdbcType=INTEGER}
  </select>



</mapper>